*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:white; 
}


.painel{
    background:#e90c0c;
    height:180px;
    display:flex;
    align-items:center;
}

.logo{
    height:120px;
}

.conteudo{
    display:flex; /*deixa os itens lado a lado*/
    gap:50px;
    padding:40px;
}


.enderecos{
    width:35%;
}

.localizacao{
    padding:25px;
    border-radius:12px;
    margin-top:25px;
}

.localizacao h3{
    margin-bottom:15px;
}

.localizacao p{
    margin-bottom:8px;
}

.formulario{
    width:65%;
    padding:30px;
}

.formulario form{
    display:flex;
    flex-direction:column;
}

.formulario label{
    margin-top:15px;
    margin-bottom:5px;
}

.formulario input,
.formulario textarea{
    padding:10px;
}
